.gallery img{
        width: 100%;
 }
h2 {
    font-family: Arial Black, fantasy;
    text-align: center;
    font-size: 40px;
    color: darkorange;
    font-style: oblique;    
}

h4 {
    font-family: Arial Black, fantasy;
    font-size: 40px;
    color: darkorange;
    font-style: oblique;
}

p {
   font-family: Arial, sans-serif; 
}

#menu{
      width:100%;
      height:40px;
      background-color: darkorange;
      padding-top: 12px;
}

#menu a{
      color:#ffffff;
      font-family: Arial, sans-serif;
      font-size: 18px;
      text-decoration:none;
      font-weight: 800px;
      
      padding-left: 20px;
      padding-right: 20px;
}

#menu a:hover{
       color: #df6c00;
}

label{
      font-family: Arial Black, fantasy;
      font-size: 20px;
      color: black;
}